@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-indigo-300;
}

body {
  @apply font-medium text-indigo-900;
}

a {
  @apply underline-offset-1 decoration-[1.5px] decoration-indigo-500/50 hover:opacity-80;
}

th {
  @apply px-4 pt-4 pb-2 text-indigo-900/50 font-semibold text-xs leading-none uppercase;
}

td {
  @apply p-4;
}

.checkbox {
  @apply rounded border-2 border-indigo-500 w-5 h-5 transition-colors duration-300 cursor-pointer hover:border-indigo-400;
}

.checkbox.checked {
  @apply border-indigo-500 bg-indigo-500/50 text-white hover:border-indigo-400;
}

.checkmark {
  @apply w-full h-full bg-no-repeat;
  background-image: url("../public/checkmark.svg");
  background-size: 65%;
  background-position: 52% 57%;
}

.text-subdued {
  @apply text-indigo-900/60;
}
