@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  @apply font-medium bg-gradient-to-br from-indigo-200 to-indigo-300 text-indigo-900;
}

.checkbox {
  @apply rounded border-2 border-indigo-500 w-4 h-4 transition-colors duration-300 cursor-pointer hover:border-indigo-400;
}

.checkbox.checked {
  @apply border-cyan-500 bg-cyan-500/50 text-white hover:border-cyan-400;
}

.checkmark {
  @apply w-full h-full bg-no-repeat;
  background-image: url("../public/checkmark.svg");
  background-size: 70%;
  background-position: 56% 58%;
}
